*{
	padding: 0;
	margin: 0;
	font-family: Arial;
}
nav{
	width: 100%;
	padding: 25px 0;
	display: inline-block;
}


.logo{
	font-size: 22px;
	margin-left: 50px;
}


li{
	list-style: none;
}

.nav-links{
	float: right;
	margin-right: 50px;
}
.nav-links li{
	display: inline;
}
.nav-links a{
	margin-right: 10px;
	text-decoration: none;
	padding: 10px 15px;
}
.resources, .sign-in, .services, .about-us, .fa-dot-circle-o{	
	color: #D3AF41;	
}

a.services:hover, a.about-us:hover, a.resources:hover, a.sign-in:hover{
	border-bottom: 2px solid #D3AF41;
	transition: .2s linear;
}
.get-started{
	background: #D3AF41;	
	color: #fff;
}

.collapsible{
	height: 89%;
	width: 100%;
	z-index: 1;
	background:  #f2f2f2;
	position: absolute;
	top: -9999px;

	transition: 0.2s ease-in-out;
}
.collapsible a{
	text-align: center;
	text-decoration:  none;
	color: #D3AF41;
	position: relative;
	top: 70px;
}
.hamburger{
	font-size: 20px;
	float: right;
	margin-right: 50px;
}
.hamburger a{	
	color: #D3AF41;
}
.hamburger, .icon{
	display: none;
}

.get-started-col{
	margin: 0 auto;
}
a.get-started-col {	
	width: 10%;
	text-align: center;
	color: #fff;
	background: #D3AF41;
}
.services-col, .about-col, .resources-col, .sign-in-col, .get-started-col{
	margin-top: 10px;
	padding: 10px;
	display: block;
}

@media screen and (max-width: 850px){
	body, .collapsible{
		min-width: 349px;
	}
	.logo{
		font-size: 18px;
	}
	.nav-links{
		display: none;
	}
	.hamburger{
		display: inline-block;
	}
	a.get-started-col {
		width: 20%;
	}
}
@media screen and (min-width: 851px){
	.collapsible{
		display: none;
	}
}
